@model CivilApp.Usuarios
@using CivilApp
@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/_Admin.cshtml";

    CivilAppEntities db = new CivilAppEntities();

    var p = db.Perfil.ToList();
    try
    {
        if (Model.PerfilID == 13)
        {
            p = p.Where(x => x.PerfilID != 4).ToList();
        }
    }
    catch (NullReferenceException nre) { }
    var items = db.Paginas.ToList();
}



<br />

<div class="row">

    <div class="col-lg-12">

        <div class="panel panel-default">

            <div class="panel-heading">
                <h4>
                    <span>Editar Perfil</span>
                </h4>
            </div>
            <div class="panel-body">

                <form class="form-horizontal" action="Editar" method="post" role="form">
                    @Html.HiddenFor(model => model.UsuarioID)
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="form-group">
                        <label class="col-lg-2 control-label" for="normalInput">Nombre</label>
                        <div class="col-lg-9">
                            <input type="text" name="Nombre" id="Nombre" value="@Model.Nombre" class="form-control" required>
                        </div>
                    </div><!-- End .form-group  -->
                    <div class="form-group">
                        <label class="col-lg-2 control-label" for="normalInput">Apellido</label>
                        <div class="col-lg-9">
                            <input type="text" name="Apellido" id="Apellido" value="@Model.Apellido" class="form-control" required>
                        </div>
                    </div><!-- End .form-group  -->
                    <div class="form-group">
                        <label class="col-lg-2 control-label" for="PerfilID">Perfil</label>
                        <div class="col-lg-9">
                            <select name="PerfilID" class="form-control">

                                @foreach (var item in p)
                                {
                                    <option value="@item.PerfilID">@item.Descripcion </option>
                                }
                            </select>
                        </div>
                    </div><!-- End .form-group  -->
                    <div class="form-group">
                        <label class="col-lg-2 control-label" for="normalInput">User LogIn</label>
                        <div class="col-lg-9">
                            <input type="text" name="UserLogIn" class="form-control" value="@Model.UserLogIn" disabled>
                        </div>
                    </div><!-- End .form-group  -->
                    <div class="form-group">
                        <label class="col-lg-2 control-label" for="normalInput">Password</label>
                        <div class="col-lg-9">
                            <input type="password" name="password" id="password" class="form-control" required>
                        </div>
                    </div><!-- End .form-group  -->
                    <div class="form-group">
                        <label class="col-lg-2 control-label" for="normalInput">Email</label>
                        <div class="col-lg-9">
                            <input type="email" name="Email" id="email" value="@Model.Email" class="form-control" disabled>
                        </div>
                    </div><!-- End .form-group  -->
                    <!-- End .span6 -->
                    <br />
                    <div class="form-group">
                        <div class="col-lg-offset-3 col-lg-9">
                            <button type="submit" class="btn btn-info">Editar</button>
                            <a type="button" href="@Url.Action("Index", "Usuarios")" class="btn btn-default">Cancelar</a>
                        </div>
                    </div><!-- End .form-group  -->

                </form>
            </div>
        </div><!-- End .panel -->
    </div><!-- End .span6 -->
</div>

